.App {
  /* text-align: center; */
  font-family: cursive;
}
.header>p{
  font-size: 30px;
  margin-left: 20px;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: green;
  height: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding-bottom: 30px;
}
.homepage{
  margin-top: 100px;
}
.e404{
  margin-top: 100px;  
}
.admin-page{
  margin-top: 100px;
  display: flex;
}
.form{
  display: flex;
  align-items: center;
}
input,button{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: medium;
}
.signup-form{
  align-self: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 50px;

}
.btn-submit{
  width: 100% !important;
  background-color: green;
  color: white;
  font-size:medium;
}
.login-form{
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 50px;

}
.error-msg{
  color: red;
  font-weight: bold;
}

.sidebar{
  flex: 1;
  background-color: rgba(0,0,0,0.2);
  margin: 10px;
  height: calc(100vh - 15vh);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.admin{
  flex: 4;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}
li{
  list-style: none;
  padding: 20px;
  /* min-width: 100%; */
  cursor: pointer;
  border-radius: 10px;
}
li:active{
  background-color: rgb(122, 117, 117);
  color: black;
}
.single-user{
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.single-project{
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.dashboard-item{
  background-color: white;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  width: 30%;
  height: 30%;
}
.dashboard-admin{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.login{
  margin-top: 20vh;  
}

.sidebar li{
  
  
}
.sidebar a{
  color: inherit;
  text-decoration: none;
}
.admin a{
  text-decoration: none;
  color: inherit;
}
.admin .error-msg{
  text-align: center;
}